openapi: 3.0.1
info:
  title: Coscine Web API
  description: Coscine (short for <b>CO</b>llaborative <b>SC</b>ientific <b>IN</b>tegration <b>E</b>nvironment) is the research
    data management platform for your research project.
  termsOfService: https://about.coscine.de/en/termsofuse/
  contact:
    name: Coscine Team
    email: servicedesk@rwth-aachen.de
  version: '2.0'
servers:
- url: https://coscine.rwth-aachen.de/coscine
paths:
  /api/v2/admin/activity-logs:
    get:
      tags:
      - Admin
      summary: Retrieves all activity logs.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: GetAllActivityLogs
      parameters:
      - name: ActivityTimestampBefore
        in: query
        description: The activity timestamp date before which activity logs should be retrieved.
        schema:
          type: string
          format: date-time
      - name: ActivityTimestampAfter
        in: query
        description: The activity timestamp date after which activity logs should be retrieved.
        schema:
          type: string
          format: date-time
      - name: Guid
        in: query
        description: The GUID for which activity logs should be retrieved. Can be a project, resource or other ID.
        schema:
          type: string
          format: uuid
      - name: UserId
        in: query
        description: The user ID for which activity logs should be retrieved.
        schema:
          type: string
          format: uuid
      - name: RegularExpression
        in: query
        description: The regular expression to filter activity logs' API path by. The regex must be a valid, already escaped
          string.
        schema:
          type: string
      - name: HttpMethod
        in: query
        description: The http method to filter activity logs by.
        schema:
          $ref: '#/components/schemas/CoscineHttpMethod'
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the activity logs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ActivityLogDtoPagedResponse'
  /api/v2/admin/projects:
    get:
      tags:
      - Admin
      summary: Retrieves all projects.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: GetAllProjects
      parameters:
      - name: TopLevel
        in: query
        description: Gets or sets a value indicating whether to filter top-level projects.
        schema:
          type: boolean
      - name: IncludeDeleted
        in: query
        description: Gets or sets a value indicating whether to include deleted projects in the results.
        schema:
          type: boolean
      - name: IncludeQuotas
        in: query
        description: Gets or sets a value indicating whether to include quotas in the results.
        schema:
          type: boolean
      - name: IncludePublicationRequests
        in: query
        description: Gets or sets a value indicating whether to include project publication requests in the results.
        schema:
          type: boolean
      - name: PageSize
        in: query
        description: Number of items per page. The maximum number of items per page is `250`.
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the projects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectAdminDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectAdminDtoPagedResponse'
        '403':
          description: User is missing authorization requirements. This endpoint is only available to Coscine Admin users.
  /api/v2/admin/resources:
    get:
      tags:
      - Admin
      summary: Retrieves all resources.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: GetAllResources
      parameters:
      - name: IncludeDeleted
        in: query
        description: Value indicating whether to include deleted resources.
        schema:
          type: boolean
      - name: IncludeQuotas
        in: query
        description: Value indicating whether to include individual resource quotas.
        schema:
          type: boolean
      - name: PageSize
        in: query
        description: Number of items per page. The maximum number of items per page is `250`.
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceAdminDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceAdminDtoPagedResponse'
        '403':
          description: User is missing authorization requirements. This endpoint is only available to Coscine Admin users.
  /api/v2/admin/users:
    get:
      tags:
      - Admin
      summary: Retrieves all users.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: GetAllUsers
      parameters:
      - name: TosAccepted
        in: query
        description: Gets or sets a value indicating whether the terms of service have been accepted by the user.
        schema:
          type: boolean
      - name: PageSize
        in: query
        description: Number of items per page. The maximum number of items per page is `250`.
        schema:
          type: integer
          format: int32
      - name: DataProcessingConsentGranted
        in: query
        description: Gets or sets a value indicating whether the personal data processing consent have been granted by the
          user.
        schema:
          type: boolean
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/UserDtoPagedResponse'
        '403':
          description: User is missing authorization requirements. This endpoint is only available to Coscine Admin users.
  /api/v2/admin/metadata/{graph}:
    get:
      tags:
      - Admin
      summary: Gets a metadata graph.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: GetMetadataGraph
      parameters:
      - name: graph
        in: path
        description: The absolute URI of the graph to get.
        required: true
        schema:
          type: string
      - name: Format
        in: query
        description: Gets or sets the RDF format.
        schema:
          $ref: '#/components/schemas/RdfFormat'
      responses:
        '200':
          description: Returns the metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RdfDefinitionDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RdfDefinitionDtoResponse'
        '403':
          description: User is missing authorization requirements. This endpoint is only available to Coscine Admin users.
    put:
      tags:
      - Admin
      summary: Updates a metadata graph.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: UpdateMetadataGraph
      parameters:
      - name: graph
        in: path
        description: The absolute URI of the graph to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The metadata update admin parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdateAdminParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdateAdminParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MetadataUpdateAdminParameters'
      responses:
        '204':
          description: Metadata graph updated
        '403':
          description: User is missing authorization requirements. This endpoint is only available to Coscine Admin users.
    patch:
      tags:
      - Admin
      summary: Patches a metadata graph.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: PatchMetadata
      parameters:
      - name: graph
        in: path
        description: The absolute URI of the graph to patch.
        required: true
        schema:
          type: string
      requestBody:
        description: The well-formed RDF patch document containing the changes as operations to be applied to the graph.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RdfPatchDocumentDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RdfPatchDocumentDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RdfPatchDocumentDto'
      responses:
        '204':
          description: Metadata graph patched
        '403':
          description: User is missing authorization requirements. This endpoint is only available to Coscine Admin users.
  /api/v2/admin/graphs:
    get:
      tags:
      - Admin
      summary: Gets all deployed graphs.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: GetDeployedGraphs
      parameters:
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployedGraphDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DeployedGraphDtoPagedResponse'
        '403':
          description: User is missing authorization requirements. This endpoint is only available to Coscine Admin users.
  /api/v2/admin/resource/{resourceId}/type/{typeId}:
    post:
      tags:
      - Admin
      summary: Creates a new datasource for a specified resource and type.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: CreateDatasource
      parameters:
      - name: resourceId
        in: path
        description: The unique identifier of the resource.
        required: true
        schema:
          type: string
          format: uuid
      - name: typeId
        in: path
        description: The unique identifier of the datasource type.
        required: true
        schema:
          type: string
          format: uuid
      - name: quota
        in: query
        description: The allocated quota for the datasource.
        schema:
          type: integer
          format: int64
      - name: dsNrwReplicationGroup
        in: query
        description: The optional replication grouo for the datasource.
        schema:
          $ref: '#/components/schemas/DsNrwReplicationGroup'
      responses:
        '200':
          description: Datasource successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDatasourceDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateDatasourceDtoResponse'
        '403':
          description: User lacks authorization. Only accessible to Coscine Admin users.
    put:
      tags:
      - Admin
      summary: Updates the type and option ID of a specified resource.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: UpdateResourceType
      parameters:
      - name: resourceId
        in: path
        description: The unique identifier of the resource to be updated.
        required: true
        schema:
          type: string
          format: uuid
      - name: typeId
        in: path
        description: The unique identifier of the new resource type.
        required: true
        schema:
          type: string
          format: uuid
      - name: optionId
        in: query
        description: The unique identifier of the new resource type option.
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Resource successfully updated.
        '403':
          description: User lacks authorization. Only accessible to Coscine Admin users.
  /api/v2/admin/users/{userId}:
    delete:
      tags:
      - Admin
      summary: Deletes the given user.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      parameters:
      - name: userId
        in: path
        description: The id of the user.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
  /api/v2/admin:
    options:
      tags:
      - Admin
      summary: Responds with the HTTP methods allowed for the endpoint.
      responses:
        '200':
          description: OK
  /api/v2/application-profiles/profiles:
    get:
      tags:
      - ApplicationProfile
      summary: Retrieves all application profiles.
      operationId: GetApplicationProfiles
      parameters:
      - name: SearchTerm
        in: query
        description: Gets or sets the search term used to filter application profiles.
        schema:
          type: string
      - name: Language
        in: query
        description: Gets or sets the language for which the application profiles are requested.
        schema:
          $ref: '#/components/schemas/AcceptedLanguage'
      - name: Modules
        in: query
        description: Gets or sets a value indicating whether to include modules in the application profiles.
        schema:
          type: boolean
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the application profiles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationProfileDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationProfileDtoPagedResponse'
  /api/v2/application-profiles/profiles/{profile}:
    get:
      tags:
      - ApplicationProfile
      summary: Retrieves an application profile by its URI.
      operationId: GetApplicationProfile
      parameters:
      - name: profile
        in: path
        description: The URI of the application profile to retrieve.
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: The desired data format for the returned application profile.
        schema:
          $ref: '#/components/schemas/RdfFormat'
      - name: Accept-Language
        in: header
        description: The preferred language for the application profile data.
        schema:
          $ref: '#/components/schemas/AcceptedLanguage'
      responses:
        '200':
          description: Returns the application profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationProfileDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationProfileDtoResponse'
        '404':
          description: Application profile does not exist.
  /api/v2/application-profiles/profiles/{profile}/raw:
    get:
      tags:
      - ApplicationProfile
      summary: Retrieves the `raw` application profile definition by its URI.
      operationId: GetRawApplicationProfile
      parameters:
      - name: profile
        in: path
        description: The URI of the application profile.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the raw application profile.
          content:
            text/turtle:
              schema:
                type: string
            application/ld+json:
              schema:
                type: string
        '404':
          description: Application profile does not exist.
  /api/v2/application-profiles/requests:
    post:
      tags:
      - ApplicationProfile
      summary: Submits a request to create a new application profile.
      operationId: CreateApplicationProfileRequest
      requestBody:
        description: The details required to create a new application profile.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationProfileForCreationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ApplicationProfileForCreationDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApplicationProfileForCreationDto'
      responses:
        '201':
          description: Application profile request created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationProfileForCreationDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationProfileForCreationDtoResponse'
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
  /api/v2/application-profiles:
    options:
      tags:
      - ApplicationProfile
      summary: Responds with the HTTP methods allowed for the endpoint.
      responses:
        '200':
          description: OK
  /api/v2/projects/{projectId}/resources/{resourceId}/blobs/{key}:
    post:
      tags:
      - Blob
      summary: Creates a new blob for a resource.
      operationId: CreateBlob
      parameters:
      - name: projectId
        in: path
        description: The identifier or slug of the project.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The identifier of the resource.
        required: true
        schema:
          type: string
          format: uuid
      - name: key
        in: path
        description: The key for the new blob.
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
        required: true
      responses:
        '201':
          description: Blob created.
        '400':
          description: Blob already exists.
        '415':
          description: Blob is not of the type "multipart/form-data"
        '413':
          description: Blob is to large.
      deprecated: true
    get:
      tags:
      - Blob
      summary: Download a blob from a resource.
      operationId: GetBlob
      parameters:
      - name: projectId
        in: path
        description: The identifier or slug of the project.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The identifier of the resource.
        required: true
        schema:
          type: string
          format: uuid
      - name: key
        in: path
        description: The key associated with the blob.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the blob.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Blob does not exist.
      deprecated: true
    put:
      tags:
      - Blob
      summary: Updates an existing blob of a resource.
      operationId: UpdateBlob
      parameters:
      - name: projectId
        in: path
        description: The identifier or slug of the project.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The identifier of the resource.
        required: true
        schema:
          type: string
          format: uuid
      - name: key
        in: path
        description: The key associated with the blob to update.
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
        required: true
      responses:
        '201':
          description: Blob updated.
        '400':
          description: Blob already exists.
        '415':
          description: Blob is not of the type "multipart/form-data"
        '413':
          description: Blob is to large.
      deprecated: true
    delete:
      tags:
      - Blob
      summary: Deletes a blob from a resource.
      operationId: DeleteBlob
      parameters:
      - name: projectId
        in: path
        description: The identifier or slug of the project.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The identifier of the resource.
        required: true
        schema:
          type: string
          format: uuid
      - name: key
        in: path
        description: The key associated with the blob to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Blob deleted.
        '404':
          description: Blob does not exist.
      deprecated: true
  /api/v2/projects/{projectId}/resources/{resourceId}/blobs:
    options:
      tags:
      - Blob
      summary: Responds with the HTTP methods allowed for the endpoint.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /api/v2/reports/data-hamster/3685:
    get:
      tags:
      - DataHamsterReport
      summary: Get the number of archived resources KPI report.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: GetNumberOfArchivedResourcesKpi
      responses:
        '200':
          description: Returns the data hamster report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataHamsterKpiDtoResponse'
  /api/v2/reports/data-hamster/3681:
    get:
      tags:
      - DataHamsterReport
      summary: Get the number of created projects KPI report.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: GetNumberOfCreatedProjectsKpi
      responses:
        '200':
          description: Returns the data hamster report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataHamsterKpiDtoResponse'
  /api/v2/reports/data-hamster/3683:
    get:
      tags:
      - DataHamsterReport
      summary: Get the number of created resources KPI report.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: GetNumberOfCreatedResourcesKpi
      responses:
        '200':
          description: Returns the data hamster report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataHamsterKpiDtoResponse'
  /api/v2/reports/data-hamster/3691:
    get:
      tags:
      - DataHamsterReport
      summary: Get the number of users per day KPI report.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: GetNumberOfUsersPerDayKpi
      responses:
        '200':
          description: Returns the data hamster report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataHamsterKpiDtoResponse'
  /api/v2/reports/data-hamster/type/{typeId}:
    get:
      tags:
      - DataHamsterReport
      summary: Get the storage usage per resource type report.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: GetStorageByResourceTypeKpi
      parameters:
      - name: typeId
        in: path
        description: The id of the resource type.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the data hamster report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageDataHamsterKpiDtoResponse'
  /api/v2/reports/data-hamster/3689:
    get:
      tags:
      - DataHamsterReport
      summary: Get the number of users per ror report.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: GetUsersPerRorKpi
      responses:
        '200':
          description: Returns the data hamster report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataHamsterKpiDtoIEnumerableResponse'
  /api/v2/reports/data-hamster:
    options:
      tags:
      - DataHamsterReport
      summary: Responds with the HTTP methods allowed for the endpoint.
      responses:
        '200':
          description: OK
  /api/v2/disciplines/{disciplineId}:
    get:
      tags:
      - Discipline
      summary: Retrieves a discipline with the specified ID.
      operationId: GetDiscipline
      parameters:
      - name: disciplineId
        in: path
        description: The ID of the discipline.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the discipline.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplineDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DisciplineDtoResponse'
        '404':
          description: Discipline does not exist.
  /api/v2/disciplines:
    get:
      tags:
      - Discipline
      summary: Retrieves all disciplines.
      operationId: GetDisciplines
      parameters:
      - name: SearchTerm
        in: query
        description: Gets or sets the search term used to filter disciplines.
        schema:
          type: string
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the disciplines.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplineDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DisciplineDtoPagedResponse'
    options:
      tags:
      - Discipline
      summary: Responds with the HTTP methods allowed for the endpoint.
      responses:
        '200':
          description: OK
  /api/v2/projects/{projectId}/resources/{resourceId}/graphs:
    get:
      tags:
      - Graph
      summary: "Retrieves a paginated subset of nodes that make up the metadata tree\r\nfor a specified resource within a\
        \ given project."
      operationId: GetStorageGraphTree
      parameters:
      - name: projectId
        in: path
        description: "The unique identifier of the project containing the resource.\r\nSupplied as a route parameter."
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: "The unique identifier of the resource whose metadata tree should be retrieved.\r\nSupplied as a route\
          \ parameter."
        required: true
        schema:
          type: string
          format: uuid
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\n\r\n\r\nThe properties `HasChildren`,\
          \ `HasMetadata`, `HasData` and `Subject` are supported for ordering.\r\nUse \"asc\" or \"desc\" as the direction.\r\
          \nThe Default is `HasChildren desc, subject asc`.\r\n"
        schema:
          type: string
      - name: Prefix
        in: query
        description: "Gets or sets the prefix filter.\r\n\r\n\r\nThe prefix to filter the storage objects by.\r\nSlashes are\
          \ taken into account when filtering by prefix.\r\nThe forwads slash (/) character is treated as the path separator.\r\
          \nThe lookup is only done for one level.\r\nTo look into the next level, include the trailing slash to indicate\
          \ the next level of the tree.\r\n"
        schema:
          type: string
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved a paged list of metadata tree nodes for the specified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageNodeDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageNodeDtoPagedResponse'
        '403':
          description: The user is missing the necessary authorization to access the resource.
        '404':
          description: The resource was not found.
        '400':
          description: Invalid request parameters were supplied.
    options:
      tags:
      - Graph
      summary: Responds with the HTTP methods allowed for the endpoint.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /api/v2/projects/{projectId}/resources/{resourceId}/graphs/{encodedPath}:
    head:
      tags:
      - Graph
      summary: Performs a metadata check for a graph node or group at the specified path without returning a response body.
      operationId: HeadStorageGraph
      parameters:
      - name: projectId
        in: path
        description: The unique identifier of the project. Supplied as a route parameter.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The unique identifier of the resource. Supplied as a route parameter.
        required: true
        schema:
          type: string
          format: uuid
      - name: encodedPath
        in: path
        description: The url encoded path of the file.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The resource exists. Metadata is available in the headers.
        '403':
          description: User is missing authorization requirements.
        '404':
          description: The resource was not found.
        '400':
          description: Invalid request parameters were supplied.
        '401':
          description: The user is not authorized to access the resource.
    get:
      tags:
      - Graph
      summary: Retrieves metadata for a graph node or group at the specified path.
      operationId: GetStorageGraph
      parameters:
      - name: projectId
        in: path
        description: The unique identifier of the project. Supplied as a route parameter.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The unique identifier of the resource. Supplied as a route parameter.
        required: true
        schema:
          type: string
          format: uuid
      - name: encodedPath
        in: path
        description: The url encoded path of the file.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The resource exists. Metadata is available in the body and headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageNodeDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageNodeDtoResponse'
        '403':
          description: User is missing authorization requirements.
        '404':
          description: The resource was not found.
        '400':
          description: Invalid request parameters were supplied.
        '401':
          description: The user is not authorized to access the resource.
  /api/v2/projects/{projectId}/resources/{resourceId}/graphs/{encodedPath}/metadata/versions:
    get:
      tags:
      - GraphMetadata
      summary: "Retrieves a paginated list of all metadata versions available\r\nfor a specific graph node of a resource."
      operationId: ListMetadataVersions
      parameters:
      - name: projectId
        in: path
        description: The unique identifier of the project.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The unique identifier of the resource.
        required: true
        schema:
          type: string
          format: uuid
      - name: encodedPath
        in: path
        description: The URL-encoded path to the graph node.
        required: true
        schema:
          type: string
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\n\r\n\r\nThe property `version`is supported\
          \ for ordering.\r\nUse \"asc\" or \"desc\" as the direction.\r\nThe Default is `version desc`.\r\n"
        schema:
          type: string
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved metadata version list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataVersionNodeDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/MetadataVersionNodeDtoPagedResponse'
        '403':
          description: User is missing authorization requirements.
        '404':
          description: No metadata versions were found for the specified path.
        '400':
          description: Invalid query parameters supplied.
  /api/v2/projects/{projectId}/resources/{resourceId}/graphs/{encodedPath}/metadata:
    get:
      tags:
      - GraphMetadata
      summary: Retrieves a specific version of the metadata graph for a given path.
      operationId: GetMetadataVersion
      parameters:
      - name: projectId
        in: path
        description: The unique identifier of the project.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The unique identifier of the resource.
        required: true
        schema:
          type: string
          format: uuid
      - name: encodedPath
        in: path
        description: "The URL-encoded path to the graph node.\r\n            Due to a limitation in the underlying structure,\
          \ any trailing slashes in the path will be trimmed.\r\n            Test.txt and Test.txt/ will be treated as the\
          \ same path."
        required: true
        schema:
          type: string
      - name: graphVersion
        in: query
        description: "The version identifier of the graph to retrieve.\r\nIf omitted, the latest version is returned."
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specified metadata version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataVersionNodeDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/MetadataVersionNodeDtoResponse'
        '403':
          description: User is missing authorization requirements.
        '404':
          description: The requested version was not found.
        '400':
          description: Invalid request parameters supplied.
        '401':
          description: The user is not authorized to access the resource.
    head:
      tags:
      - GraphMetadata
      summary: Checks the existence of a specific metadata version without returning content.
      operationId: HeadMetadataVersion
      parameters:
      - name: projectId
        in: path
        description: The unique identifier of the project.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The unique identifier of the resource.
        required: true
        schema:
          type: string
          format: uuid
      - name: encodedPath
        in: path
        description: The URL-encoded path to the graph node.
        required: true
        schema:
          type: string
      - name: graphVersion
        in: query
        description: Optional version identifier of the graph to check.
        schema:
          type: string
      responses:
        '204':
          description: The specified metadata version exists.
        '403':
          description: User is missing authorization requirements.
        '404':
          description: The metadata version was not found.
        '400':
          description: Invalid request parameters supplied.
        '401':
          description: The user is not authorized to access the resource.
    options:
      tags:
      - GraphMetadata
      summary: Responds with the HTTP methods allowed for the endpoint.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        required: true
        schema:
          type: string
      - name: encodedPath
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /api/v2/projects/{projectId}/resources/{resourceId}/graphs/{encodedPath}/metadata/content:
    get:
      tags:
      - GraphMetadataContent
      summary: "Retrieves the raw RDF content of a specific metadata graph version\r\nfor the given resource and path."
      operationId: GetMetadataContent
      parameters:
      - name: projectId
        in: path
        description: The unique identifier of the project. Supplied as a route parameter.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The unique identifier of the resource. Supplied as a route parameter.
        required: true
        schema:
          type: string
          format: uuid
      - name: encodedPath
        in: path
        description: The URL-encoded path representing the location of the graph node.
        required: true
        schema:
          type: string
      - name: graphVersion
        in: query
        description: The version identifier of the metadata graph to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the RDF content stream.
          content:
            text/turtle:
              schema:
                type: string
            application/ld+json:
              schema:
                type: string
        '404':
          description: The specified metadata version or path was not found.
        '400':
          description: Invalid route or query parameters supplied.
        '401':
          description: The user is not authorized to access the resource.
    put:
      tags:
      - GraphMetadataContent
      summary: "Creates a new metadata graph version for a given resource and graph path.\r\nAccepts RDF content as the request\
        \ body."
      operationId: CreateMetadataVersion
      parameters:
      - name: projectId
        in: path
        description: The unique identifier of the project. Supplied as a route parameter.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The unique identifier of the resource. Supplied as a route parameter.
        required: true
        schema:
          type: string
          format: uuid
      - name: encodedPath
        in: path
        description: The URL-encoded path representing the location of the graph node.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              type: string
              description: JSON-LD payload
          text/turtle:
            schema:
              type: string
              description: Turtle (TTL) RDF payload
        required: true
      responses:
        '200':
          description: OK
        '201':
          description: The metadata version was successfully created.
        '400':
          description: Invalid or malformed RDF content was supplied.
        '401':
          description: The user is not authorized to modify the resource.
        '415':
          description: The provided content type is unsupported.
    options:
      tags:
      - GraphMetadataContent
      summary: Responds with the HTTP methods allowed for the endpoint.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        required: true
        schema:
          type: string
      - name: encodedPath
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /api/v2/handles/{prefix}/{suffix}:
    get:
      tags:
      - Handle
      summary: Retrieves all values of a handle by its PID.
      operationId: GetHandle
      parameters:
      - name: prefix
        in: path
        description: The prefix of the PID
        required: true
        schema:
          type: string
      - name: suffix
        in: path
        description: The suffix of the PID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the handles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandleDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/HandleDtoResponse'
        '403':
          description: User is missing authorization requirements. This endpoint is only available to Coscine Admin users.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
    put:
      tags:
      - Handle
      summary: Updates a handle.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: UpdateHandle
      parameters:
      - name: prefix
        in: path
        description: The prefix of the PID
        required: true
        schema:
          type: string
      - name: suffix
        in: path
        description: The suffix of the PID
        required: true
        schema:
          type: string
      requestBody:
        description: The handle for updating.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HandleForUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/HandleForUpdateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/HandleForUpdateDto'
      responses:
        '204':
          description: Handle updated.
        '403':
          description: User is missing authorization requirements. This endpoint is only available to Coscine Admin users.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
  /api/v2/handles:
    options:
      tags:
      - Handle
      summary: Responds with the HTTP methods allowed for the endpoint.
      responses:
        '200':
          description: OK
  /api/v2/languages/{languageId}:
    get:
      tags:
      - Language
      summary: Retrieves a language by ID.
      operationId: GetLanguage
      parameters:
      - name: languageId
        in: path
        description: The ID of the language.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the language.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/LanguageDtoResponse'
        '404':
          description: Language does not exist.
  /api/v2/languages:
    get:
      tags:
      - Language
      summary: Retrieves all languages.
      operationId: GetLanguages
      parameters:
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the languages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/LanguageDtoIEnumerableResponse'
    options:
      tags:
      - Language
      summary: Responds with the HTTP methods allowed for the endpoint.
      responses:
        '200':
          description: OK
  /api/v2/licenses/{licenseId}:
    get:
      tags:
      - License
      summary: Retrieves a license with the specified ID.
      operationId: GetLicense
      parameters:
      - name: licenseId
        in: path
        description: The ID of the license.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the license.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/LicenseDtoResponse'
        '404':
          description: License does not exist.
  /api/v2/licenses:
    get:
      tags:
      - License
      summary: Retrieves all licenses.
      operationId: GetLicenses
      parameters:
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the licenses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/LicenseDtoPagedResponse'
    options:
      tags:
      - License
      summary: Responds with the HTTP methods allowed for the endpoint.
      responses:
        '200':
          description: OK
  /api/v2/maintenances:
    get:
      tags:
      - Maintenance
      summary: Retrieves the current maintenance messages.
      operationId: GetCurrentMaintenances
      responses:
        '200':
          description: Returns the maintenances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/MaintenanceDtoPagedResponse'
      deprecated: true
    options:
      tags:
      - Maintenance
      summary: Responds with the HTTP methods allowed for the endpoint.
      responses:
        '200':
          description: OK
  /api/v2/notifications/{notificationId}:
    get:
      tags:
      - Notification
      summary: Retrieves a notification.
      operationId: GetNotification
      parameters:
      - name: notificationId
        in: path
        description: The ID of the notification.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the notification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/NotificationDtoResponse'
        '404':
          description: Notification does not exist.
  /api/v2/notifications:
    get:
      tags:
      - Notification
      summary: Retrieves all notifications.
      operationId: GetNotifications
      parameters:
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the notifications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/NotificationDtoPagedResponse'
    options:
      tags:
      - Notification
      summary: Responds with the HTTP methods allowed for the endpoint.
      responses:
        '200':
          description: OK
  /api/v2/organizations/{organizationRorUri}:
    get:
      tags:
      - Organization
      summary: Retrieves an organization.
      operationId: GetOrganization
      parameters:
      - name: organizationRorUri
        in: path
        description: The parameters for organization filtering and pagination.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the organizations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OrganizationDtoResponse'
  /api/v2/organizations:
    get:
      tags:
      - Organization
      summary: Retrieves all organizations.
      operationId: GetOrganizations
      parameters:
      - name: SearchTerm
        in: query
        description: Gets or sets the search term used to filter organizations.
        schema:
          type: string
      - name: Language
        in: query
        description: Language of name or text (dataPublicationService)
        schema:
          $ref: '#/components/schemas/AcceptedLanguage'
      - name: FilterByPublicationService
        in: query
        description: Gets or sets the option to find only organizations having the publication service set.
        schema:
          type: boolean
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the organizations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OrganizationDtoPagedResponse'
    options:
      tags:
      - Organization
      summary: Responds with the HTTP methods allowed for the endpoint.
      responses:
        '200':
          description: OK
  /api/v2/pids/{prefix}/{suffix}:
    get:
      tags:
      - Pid
      summary: Retrieves the Persistent Identifier (PID) for a given prefix and suffix.
      operationId: GetPid
      parameters:
      - name: prefix
        in: path
        description: The PID prefix. Limited to the values provided by the API.
        required: true
        schema:
          type: string
      - name: suffix
        in: path
        description: The PID suffix of a project or a resource, represented as a GUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response with the PID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PidDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PidDtoResponse'
        '404':
          description: The specified PID does not exist
        '410':
          description: The PID is no longer valid (e.g., resource deleted)
  /api/v2/pids/{prefix}/{suffix}/requests:
    post:
      tags:
      - Pid
      summary: Sends an inquiry to the owner of the given PID.
      operationId: SendRequestToOwner
      parameters:
      - name: prefix
        in: path
        description: The PID prefix of a project or a resource to validate
        required: true
        schema:
          type: string
      - name: suffix
        in: path
        description: The PID body of a project or a resource to validate
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The data transfer object containing the inquiry details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PidRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/PidRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PidRequestDto'
      responses:
        '204':
          description: Email sent successfully
        '400':
          description: PID has a bad format
        '404':
          description: PID does not exist or is invalid
  /api/v2/pids:
    get:
      tags:
      - Pid
      summary: Retrieves all PIDs.
      description: <p><strong>Required JWT roles for access:</strong> <code>administrator</code>.</p>
      operationId: GetPids
      parameters:
      - name: IncludeProjects
        in: query
        description: Gets or sets a value indicating whether to include projects when retrieving pid information.
        schema:
          type: boolean
      - name: IncludeResources
        in: query
        description: Gets or sets a value indicating whether to include resources when retrieving pid information.
        schema:
          type: boolean
      - name: IncludeDeleted
        in: query
        description: Gets or sets a value indicating whether to include deleted pid information.
        schema:
          type: boolean
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the PIDs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PidDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PidDtoPagedResponse'
        '403':
          description: User is missing authorization requirements.
    options:
      tags:
      - Pid
      summary: Responds with the HTTP methods allowed for the endpoint.
      responses:
        '200':
          description: OK
  /api/v2/projects:
    post:
      tags:
      - Project
      summary: Creates a new project.
      operationId: CreateProject
      requestBody:
        description: The project data for creation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectForCreationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectForCreationDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProjectForCreationDto'
      responses:
        '201':
          description: Project created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectDtoResponse'
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
    get:
      tags:
      - Project
      summary: Retrieves all projects.
      operationId: GetProjects
      parameters:
      - name: IncludeOrganizations
        in: query
        description: Gets or sets a value indicating whether to retrieve the organizations.
        schema:
          type: boolean
      - name: TopLevel
        in: query
        description: Gets or sets a value indicating whether to retrieve only top-level projects.
        schema:
          type: boolean
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the projects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectDtoPagedResponse'
        '403':
          description: User is missing authorization requirements.
    options:
      tags:
      - Project
      summary: Responds with the HTTP methods allowed for the endpoint.
      responses:
        '200':
          description: OK
  /api/v2/projects/{projectId}:
    get:
      tags:
      - Project
      summary: Retrieves a project.
      operationId: GetProject
      parameters:
      - name: projectId
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: IncludeSubProjects
        in: query
        description: Gets or sets a value indicating whether to include sub-projects in the retrieval.
        schema:
          type: boolean
      responses:
        '200':
          description: Returns the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectDtoResponse'
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format.
        '404':
          description: Project does not exist or has been deleted.
    put:
      tags:
      - Project
      summary: Updates a project.
      operationId: UpdateProject
      parameters:
      - name: projectId
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      requestBody:
        description: The updated project data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectForUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectForUpdateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProjectForUpdateDto'
      responses:
        '204':
          description: Project updated.
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format or the resource is write-protected due to its archived status.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
    delete:
      tags:
      - Project
      summary: Deletes a project.
      operationId: DeleteProject
      parameters:
      - name: projectId
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Project deleted.
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format or the resource is write-protected due to its archived status.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
  /api/v2/projects/{projectId}/graphs/metadata/content:
    get:
      tags:
      - ProjectGraphContent
      summary: Retrieves a project graph.
      operationId: GetProjectGraphContent
      parameters:
      - name: projectId
        in: path
        description: The ID or slug of the project.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/n-quads:
              schema:
                type: string
    options:
      tags:
      - ProjectGraphContent
      summary: Responds with the HTTP methods allowed for the endpoint.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /api/v2/projects/{projectId}/invitations/{projectInvitationId}:
    get:
      tags:
      - ProjectInvitation
      summary: Retrieves a project invitation for a specified project.
      operationId: GetProjectInvitation
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: projectInvitationId
        in: path
        description: The ID of the project invitation to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the project invitation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectInvitationDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectInvitationDtoResponse'
        '404':
          description: Project invitation does not exist.
    delete:
      tags:
      - ProjectInvitation
      summary: Deletes a project invitation for a specified project.
      operationId: DeleteProjectInvitation
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: projectInvitationId
        in: path
        description: The ID of the project invitation to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Project invitation deleted.
        '403':
          description: User is missing authorization requirements.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
  /api/v2/projects/{projectId}/invitations:
    get:
      tags:
      - ProjectInvitation
      summary: Retrieves all project invitations for a specified project.
      operationId: GetProjectInvitations
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the project invitations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectInvitationDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectInvitationDtoPagedResponse'
    post:
      tags:
      - ProjectInvitation
      summary: Creates a project invitation for a specified project.
      operationId: CreateProjectInvitation
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      requestBody:
        description: The project invitation data for creation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInvitationForProjectManipulationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectInvitationForProjectManipulationDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProjectInvitationForProjectManipulationDto'
      responses:
        '201':
          description: Project invitation created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectInvitationDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectInvitationDtoResponse'
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
    options:
      tags:
      - ProjectInvitation
      summary: Responds with the HTTP methods allowed for the endpoint.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /api/v2/projects/{projectId}/members/{membershipId}:
    get:
      tags:
      - ProjectMember
      summary: Retrieves a project membership for a specified project.
      operationId: GetMembership
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: membershipId
        in: path
        description: The ID of the project membership to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the project membership.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectRoleDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectRoleDtoResponse'
        '404':
          description: Project membership does not exist.
    put:
      tags:
      - ProjectMember
      summary: Updates a project membership for a specified project.
      operationId: UpdateMembership
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: membershipId
        in: path
        description: The ID of the project membership to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The updated project membership data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRoleForProjectManipulationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectRoleForProjectManipulationDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProjectRoleForProjectManipulationDto'
      responses:
        '204':
          description: Project membership updated.
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
    delete:
      tags:
      - ProjectMember
      summary: Deletes a project membership for a specified project.
      operationId: DeleteMembership
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: membershipId
        in: path
        description: The ID of the project membership to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Project membership deleted.
        '403':
          description: User is missing authorization requirements.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
  /api/v2/projects/{projectId}/members:
    get:
      tags:
      - ProjectMember
      summary: Retrieves all project memberships for a specified project.
      operationId: GetMemberships
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the project memberships.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectRoleDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectRoleDtoPagedResponse'
    post:
      tags:
      - ProjectMember
      summary: Creates a project membership for a specified project.
      operationId: AddMembership
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      requestBody:
        description: The project membership data for creation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRoleForProjectCreationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectRoleForProjectCreationDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProjectRoleForProjectCreationDto'
      responses:
        '201':
          description: Project membership created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectRoleDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectRoleDtoResponse'
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
    options:
      tags:
      - ProjectMember
      summary: Responds with the HTTP methods allowed for the endpoint.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /api/v2/projects/{projectId}/members/me:
    get:
      tags:
      - ProjectMember
      summary: Retrieves the project role of the authenticated user for a specified project.
      operationId: GetMyMembership
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the project role of the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectRoleDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectRoleDtoResponse'
        '404':
          description: Authenticated user has no role in the given project.
  /api/v2/projects/{projectId}/publications/requests:
    post:
      tags:
      - ProjectPublicationRequest
      summary: Creates a new publication request.
      operationId: CreatePublicationRequest
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      requestBody:
        description: The publication request data for creation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicationRequestForCreationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/PublicationRequestForCreationDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PublicationRequestForCreationDto'
      responses:
        '201':
          description: Publication request created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPublicationRequestDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectPublicationRequestDtoResponse'
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
    options:
      tags:
      - ProjectPublicationRequest
      summary: Responds with the HTTP methods allowed for the endpoint.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /api/v2/projects/{projectId}/publications/requests/{publicationRequestId}:
    get:
      tags:
      - ProjectPublicationRequest
      summary: Retrieves a publication request.
      operationId: GetPublicationRequest
      parameters:
      - name: projectId
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: publicationRequestId
        in: path
        description: The ID of the publication request.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the publication request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPublicationRequestDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectPublicationRequestDtoResponse'
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format.
        '404':
          description: Publication request does not exist or has been deleted.
  /api/v2/projects/{projectId}/quotas/{resourceTypeId}:
    get:
      tags:
      - ProjectQuota
      summary: Retrieves a project quota for a specified project and resource type.
      operationId: GetProjectQuota
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: resourceTypeId
        in: path
        description: The ID of the resource type.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the project quota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectQuotaDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectQuotaDtoResponse'
        '404':
          description: Project quota does not exist.
    put:
      tags:
      - ProjectQuota
      summary: Updates a project quota for a specified project and resource type.
      operationId: UpdateProjectQuota
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: resourceTypeId
        in: path
        description: The ID of the resource type.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The updated project quota data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectQuotaForUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectQuotaForUpdateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProjectQuotaForUpdateDto'
      responses:
        '204':
          description: Project quota updated.
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
  /api/v2/projects/{projectId}/quotas:
    get:
      tags:
      - ProjectQuota
      summary: Retrieves all project quotas for a specified project.
      operationId: GetProjectQuotas
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the project quotas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectQuotaDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectQuotaDtoPagedResponse'
    options:
      tags:
      - ProjectQuota
      summary: Responds with the HTTP methods allowed for the endpoint.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /api/v2/projects/{projectId}/resources:
    post:
      tags:
      - ProjectResource
      summary: Creates a new resource for a specified project.
      operationId: CreateResourceForProject
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      requestBody:
        description: The resource data for creation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceForCreationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceForCreationDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResourceForCreationDto'
      responses:
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceDtoResponse'
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
    get:
      tags:
      - ProjectResource
      summary: Retrieves all resources for a specified project.
      operationId: GetResourcesForProject
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default
          is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: "Gets or sets the field name used for ordering the results.\r\nThe order is constructed by an order string.\r\
          \nUse the property followed by \"asc\" or \"desc\" and separate properties by commas. Default is asc.\r\nCan be\
          \ used like this: \"propertyA asc, propertyB desc\"."
        schema:
          type: string
      responses:
        '200':
          description: Returns the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceDtoPagedResponse'
        '403':
          description: User is missing authorization requirements.
    options:
      tags:
      - ProjectResource
      summary: Responds with the HTTP methods allowed for the endpoint.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /api/v2/projects/{projectId}/resources/{resourceId}:
    get:
      tags:
      - ProjectResource
      summary: Retrieves a resource for a specified project.
      operationId: GetResourceForProject
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The ID of the resource to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceDtoResponse'
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format.
        '404':
          description: Resource does not exist or has been deleted.
    put:
      tags:
      - ProjectResource
      summary: Updates a resource for a specified project.
      operationId: UpdateResourceForProject
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The ID of the resource to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The updated resource data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceForUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceForUpdateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResourceForUpdateDto'
      responses:
        '204':
          description: Resource updated.
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format or the resource is write-protected due to its archived status.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
    delete:
      tags:
      - ProjectResource
      summary: Deletes a resource for a specified project.
      operationId: DeleteResourceForProject
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The ID of the resource to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Resource deleted.
        '403':
          description: User is missing authorization requirements.
        '400':
          description: Provided input has a bad format or the resource is write-protected due to its archived status.
        '404':
          description: Provided input refers to entries that do not exist or have been deleted.
  /api/v2/projects/{projectId}/resources/{resourceId}/quota:
    get:
      tags:
      - ProjectResourceQuota
      summary: Retrieves the resource quota for a specific resource in a project.
      operationId: GetQuotaForResourceForProject
      parameters:
      - name: projectId
        in: path
        description: The Id or slug of the project.
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The ID of the resource.
        required: true
        schema:
          type: string
          format: uuid
      - name: versionInfo
        in: query
        description: If versioning information should be loaded.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Returns the resource quota.
          content:
            application/json:
              schema:
[...]
