openapi: 3.2.0
info:
  title: Coscine Web Resource Type API
  description: Coscine (short for COllaborative SCientific INtegration Environment) is the research data management platform for your research project.
  termsOfService: https://about.coscine.de/en/termsofuse/
  contact:
    name: Coscine Team
    email: servicedesk@rwth-aachen.de
  version: '2.0'
servers:
- url: https://coscine.rwth-aachen.de/coscine
security:
- Bearer: []
tags:
- name: Resource Type
  description: Endpoints for the resource types.
paths:
  /api/v2/resource-types/types:
    get:
      tags:
      - Resource Type
      summary: Retrieves the entire global resource types information
      operationId: GetAllResourceTypesInformation
      responses:
        '200':
          description: Returns the entire global resource types information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceTypeInformationDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceTypeInformationDtoIEnumerableResponse'
  /api/v2/resource-types/types/{resourceTypeId}:
    get:
      tags:
      - Resource Type
      summary: Retrieves the resource type information for a specific resource type
      operationId: GetResourceTypeInformation
      parameters:
      - name: resourceTypeId
        in: path
        description: The ID of the resource type to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the resource type information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceTypeInformationDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceTypeInformationDtoResponse'
        '404':
          description: Resource type does not exist.
  /api/v2/resource-types:
    options:
      tags:
      - Resource Type
      summary: Responds with the HTTP methods allowed for the endpoint
      responses:
        '200':
          description: OK
      operationId: optionsApiV2ResourceTypes
      x-operation-id-source: derived
components:
  schemas:
    ResourceTypeInformationDtoIEnumerableResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ResourceTypeInformationDto'
        isSuccess:
          type: boolean
          readOnly: true
        statusCode:
          type:
          - integer
          - 'null'
          format: int32
        traceId:
          type:
          - string
          - 'null'
      additionalProperties: false
    ResourceContentPageDto:
      type: object
      properties:
        readOnly:
          type: boolean
          description: Indicates whether the resource is read-only.
        metadataView:
          $ref: '#/components/schemas/ResourceContentPageMetadataViewDto'
        entriesView:
          $ref: '#/components/schemas/ResourceContentPageEntriesViewDto'
      additionalProperties: false
      description: Represents the content page details for a resource.
    ResourceTypeStatus:
      enum:
      - hidden
      - active
      type: string
      description: Specifies the status of a resource type.
    ResourceTypeInformationDto:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the resource type.
          format: uuid
        generalType:
          type:
          - string
          - 'null'
          description: The general type of the resource.
        specificType:
          type:
          - string
          - 'null'
          description: The specific type of the resource.
        status:
          $ref: '#/components/schemas/ResourceTypeStatus'
        canCreate:
          type: boolean
          description: Indicates if the resource type supports creation.
        canRead:
          type: boolean
          description: Indicates if the resource type supports reading.
        canSetResourceReadonly:
          type: boolean
          description: Indicates if the resource type supports read-only.
        canUpdate:
          type: boolean
          description: Indicates if the resource type supports updating.
        canUpdateResource:
          type: boolean
          description: Indicates if the resource type supports updating (not an Object).
        canDelete:
          type: boolean
          description: Indicates if the resource type supports deletion.
        canDeleteResource:
          type: boolean
          description: Indicates if the resource type supports deletion (not an Object).
        canList:
          type: boolean
          description: Indicates if the resource type supports listing.
        canCreateLinks:
          type: boolean
          description: Indicates if the resource type supports linking.
        canCopyLocalMetadata:
          type: boolean
          description: Indicates whether local backup of metadata is supported.
        isArchived:
          type: boolean
          description: Indicates if the resource type is archived.
        isQuotaAvailable:
          type: boolean
          description: Indicates if the resource type supports quota.
        isQuotaAdjustable:
          type: boolean
          description: Indicates if the resource type quota can be changed.
        supportsVersioning:
          type: boolean
          description: Indicates if the resource type supports versioning.
        isEnabled:
          type: boolean
          description: Indicates if the resource type is enabled.
          readOnly: true
        resourceCreation:
          $ref: '#/components/schemas/ResourceCreationPageDto'
        resourceContent:
          $ref: '#/components/schemas/ResourceContentPageDto'
      additionalProperties: false
      description: Represents information about a resource type.
    ResourceContentPageColumnsDto:
      type: object
      properties:
        always:
          uniqueItems: true
          type: array
          items:
            type: string
          description: Set of columns that should always be displayed in the content view.
      additionalProperties: false
      description: Represents a set of columns to be displayed in the content view.
    ResourceCreationPageDto:
      type: object
      properties:
        components:
          type: array
          items:
            type: array
            items:
              type: string
          description: List of Lists containing all the resource type specific components for the steps in the resource creation page.
      additionalProperties: false
      description: Represents the structure of resource type-specific components for steps in the resource creation page.
    ResourceTypeInformationDtoResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResourceTypeInformationDto'
        isSuccess:
          type: boolean
          readOnly: true
        statusCode:
          type:
          - integer
          - 'null'
          format: int32
        traceId:
          type:
          - string
          - 'null'
      additionalProperties: false
    ResourceContentPageMetadataViewDto:
      type: object
      properties:
        editableDataUrl:
          type: boolean
          description: Indicates if a data URL can be provided and is editable.
        editableKey:
          type: boolean
          description: Indicates if a key can be provided and is editable.
      additionalProperties: false
      description: Represents the metadata view for a resource's content page.
    ResourceContentPageEntriesViewDto:
      type: object
      properties:
        columns:
          $ref: '#/components/schemas/ResourceContentPageColumnsDto'
      additionalProperties: false
      description: Represents information about the resource type for the columns within the entries view Vue component.
  securitySchemes:
    Bearer:
      type: apiKey
      description: JWT Authorization header using the Bearer scheme.
      name: Authorization
      in: header
