openapi: 3.2.0
info:
  title: Coscine Web Discipline API
  description: Coscine (short for COllaborative SCientific INtegration Environment) is the research data management platform for your research project.
  termsOfService: https://about.coscine.de/en/termsofuse/
  contact:
    name: Coscine Team
    email: servicedesk@rwth-aachen.de
  version: '2.0'
servers:
- url: https://coscine.rwth-aachen.de/coscine
security:
- Bearer: []
tags:
- name: Discipline
  description: Endpoints for the disciplines.
paths:
  /api/v2/disciplines/{disciplineId}:
    get:
      tags:
      - Discipline
      summary: Retrieves a discipline with the specified ID
      operationId: GetDiscipline
      parameters:
      - name: disciplineId
        in: path
        description: The ID of the discipline.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the discipline.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplineDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DisciplineDtoResponse'
        '404':
          description: Discipline does not exist.
  /api/v2/disciplines:
    get:
      tags:
      - Discipline
      summary: Retrieves all disciplines
      operationId: GetDisciplines
      parameters:
      - name: SearchTerm
        in: query
        description: Gets or sets the search term used to filter disciplines.
        schema:
          type: string
      - name: PageNumber
        in: query
        description: Gets or sets the desired page number. Should be greater than or equal to 1. Default is 1.
        schema:
          type: integer
          format: int32
      - name: PageSize
        in: query
        description: Gets or sets the desired page size. Should be between 1 and the maximum allowed page size (50). Default is 10.
        schema:
          type: integer
          format: int32
      - name: OrderBy
        in: query
        description: 'Gets or sets the field name used for ordering the results.

          The order is constructed by an order string.

          Use the property followed by "asc" or "desc" and separate properties by commas. Default is asc.

          Can be used like this: "propertyA asc, propertyB desc".'
        schema:
          type: string
      responses:
        '200':
          description: Returns the disciplines.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplineDtoPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DisciplineDtoPagedResponse'
    options:
      tags:
      - Discipline
      summary: Responds with the HTTP methods allowed for the endpoint
      responses:
        '200':
          description: OK
      operationId: optionsApiV2Disciplines
      x-operation-id-source: derived
components:
  schemas:
    Pagination:
      type: object
      properties:
        currentPage:
          type: integer
          description: Gets or sets the current page number.
          format: int32
        totalPages:
          type: integer
          description: Gets or sets the total number of pages.
          format: int32
        pageSize:
          type: integer
          description: Gets or sets the number of items per page.
          format: int32
        totalCount:
          type: integer
          description: Gets or sets the total count of items across all pages.
          format: int64
        hasPrevious:
          type: boolean
          description: Gets a value indicating whether there is a previous page.
          readOnly: true
        hasNext:
          type: boolean
          description: Gets a value indicating whether there is a next page.
          readOnly: true
      additionalProperties: false
      description: Represents pagination information for a collection of items.
    DisciplineDto:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the discipline.
          format: uuid
        uri:
          type: string
          description: The URI associated with the discipline.
        displayNameDe:
          type: string
          description: The display name of the discipline in German.
        displayNameEn:
          type: string
          description: The display name of the discipline in English.
      additionalProperties: false
      description: Represents the data transfer object for a discipline.
    DisciplineDtoPagedResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DisciplineDto'
        isSuccess:
          type: boolean
          readOnly: true
        statusCode:
          type:
          - integer
          - 'null'
          format: int32
        traceId:
          type:
          - string
          - 'null'
        pagination:
          $ref: '#/components/schemas/Pagination'
      additionalProperties: false
    DisciplineDtoResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DisciplineDto'
        isSuccess:
          type: boolean
          readOnly: true
        statusCode:
          type:
          - integer
          - 'null'
          format: int32
        traceId:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: JWT Authorization header using the Bearer scheme.
      name: Authorization
      in: header
