openapi: 3.2.0
info:
  title: Coscine Web Data Hamster Report API
  description: Coscine (short for COllaborative SCientific INtegration Environment) is the research data management platform for your research project.
  termsOfService: https://about.coscine.de/en/termsofuse/
  contact:
    name: Coscine Team
    email: servicedesk@rwth-aachen.de
  version: '2.0'
servers:
- url: https://coscine.rwth-aachen.de/coscine
security:
- Bearer: []
tags:
- name: DataHamsterReport
  description: Controller for generating and downloading project-related reports.
paths:
  /api/v2/reports/data-hamster/3685:
    get:
      tags:
      - DataHamsterReport
      summary: Get the number of archived resources KPI report
      description: 'Required JWT roles for access: administrator.'
      operationId: GetNumberOfArchivedResourcesKpi
      responses:
        '200':
          description: Returns the data hamster report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataHamsterKpiDtoResponse'
  /api/v2/reports/data-hamster/3681:
    get:
      tags:
      - DataHamsterReport
      summary: Get the number of created projects KPI report
      description: 'Required JWT roles for access: administrator.'
      operationId: GetNumberOfCreatedProjectsKpi
      responses:
        '200':
          description: Returns the data hamster report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataHamsterKpiDtoResponse'
  /api/v2/reports/data-hamster/3683:
    get:
      tags:
      - DataHamsterReport
      summary: Get the number of created resources KPI report
      description: 'Required JWT roles for access: administrator.'
      operationId: GetNumberOfCreatedResourcesKpi
      responses:
        '200':
          description: Returns the data hamster report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataHamsterKpiDtoResponse'
  /api/v2/reports/data-hamster/3691:
    get:
      tags:
      - DataHamsterReport
      summary: Get the number of users per day KPI report
      description: 'Required JWT roles for access: administrator.'
      operationId: GetNumberOfUsersPerDayKpi
      responses:
        '200':
          description: Returns the data hamster report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataHamsterKpiDtoResponse'
  /api/v2/reports/data-hamster/type/{typeId}:
    get:
      tags:
      - DataHamsterReport
      summary: Get the storage usage per resource type report
      description: 'Required JWT roles for access: administrator.'
      operationId: GetStorageByResourceTypeKpi
      parameters:
      - name: typeId
        in: path
        description: The id of the resource type.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the data hamster report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageDataHamsterKpiDtoResponse'
  /api/v2/reports/data-hamster/3689:
    get:
      tags:
      - DataHamsterReport
      summary: Get the number of users per ror report
      description: 'Required JWT roles for access: administrator.'
      operationId: GetUsersPerRorKpi
      responses:
        '200':
          description: Returns the data hamster report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataHamsterKpiDtoIEnumerableResponse'
  /api/v2/reports/data-hamster:
    options:
      tags:
      - DataHamsterReport
      summary: Responds with the HTTP methods allowed for the endpoint
      responses:
        '200':
          description: OK
      operationId: optionsApiV2ReportsDataHamster
      x-operation-id-source: derived
components:
  schemas:
    DataHamsterKpiDtoIEnumerableResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DataHamsterKpiDto'
        isSuccess:
          type: boolean
          readOnly: true
        statusCode:
          type:
          - integer
          - 'null'
          format: int32
        traceId:
          type:
          - string
          - 'null'
      additionalProperties: false
    StorageDataHamsterKpiDtoResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/StorageDataHamsterKpiDto'
        isSuccess:
          type: boolean
          readOnly: true
        statusCode:
          type:
          - integer
          - 'null'
          format: int32
        traceId:
          type:
          - string
          - 'null'
      additionalProperties: false
    DataHamsterKpiDtoResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataHamsterKpiDto'
        isSuccess:
          type: boolean
          readOnly: true
        statusCode:
          type:
          - integer
          - 'null'
          format: int32
        traceId:
          type:
          - string
          - 'null'
      additionalProperties: false
    DataHamsterKpiDto:
      type: object
      properties:
        measurementId:
          type: integer
          format: int32
        value:
          type:
          - number
          - 'null'
          format: double
        start:
          type:
          - string
          - 'null'
          format: date-time
        end:
          type:
          - string
          - 'null'
          format: date-time
        additionalInfo:
          type: object
          additionalProperties:
            type: string
        query:
          type: string
          readOnly: true
      additionalProperties: false
    StorageDataHamsterKpiDto:
      type: object
      properties:
        reserved:
          $ref: '#/components/schemas/DataHamsterKpiDto'
        used:
          $ref: '#/components/schemas/DataHamsterKpiDto'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: JWT Authorization header using the Bearer scheme.
      name: Authorization
      in: header
