openapi: 3.2.0
info:
  title: Coscine Web Report API
  description: Coscine (short for COllaborative SCientific INtegration Environment) is the research data management platform for your research project.
  termsOfService: https://about.coscine.de/en/termsofuse/
  contact:
    name: Coscine Team
    email: servicedesk@rwth-aachen.de
  version: '2.0'
servers:
- url: https://coscine.rwth-aachen.de/coscine
security:
- Bearer: []
tags:
- name: Report
  description: Controller for generating and downloading project-related reports.
paths:
  /api/v2/reports/project:
    get:
      tags:
      - Report
      summary: Download for the project report
      description: 'Required JWT roles for access: administrator.'
      operationId: GetProjectReport
      responses:
        '200':
          description: Returns the report.
          content:
            application/json: {}
  /api/v2/reports/project/quota:
    get:
      tags:
      - Report
      summary: Download for the project quota report
      description: 'Required JWT roles for access: administrator.'
      operationId: GetProjectQuotaReport
      responses:
        '200':
          description: Returns the report.
          content:
            application/json: {}
  /api/v2/reports/user:
    get:
      tags:
      - Report
      summary: Download for the user report
      description: 'Required JWT roles for access: administrator.'
      operationId: GetUserReport
      responses:
        '200':
          description: Returns the report.
          content:
            application/json: {}
  /api/v2/reports/application-profile:
    get:
      tags:
      - Report
      summary: Download for the applicationprofile report
      description: 'Required JWT roles for access: administrator.'
      operationId: GetApplicationProfileReport
      responses:
        '200':
          description: Returns the report.
          content:
            application/json: {}
  /api/v2/reports/resource:
    get:
      tags:
      - Report
      summary: Download for the resource report
      description: 'Required JWT roles for access: administrator.'
      operationId: GetResourceReport
      responses:
        '200':
          description: Returns the report.
          content:
            application/json: {}
  /api/v2/reports/resource/quota:
    get:
      tags:
      - Report
      summary: Download for the resource quota report
      description: 'Required JWT roles for access: administrator.'
      operationId: GetResourceQuotaReport
      responses:
        '200':
          description: Returns the report.
          content:
            application/json: {}
  /api/v2/reports/maintenance:
    get:
      tags:
      - Report
      summary: Download for the maintenance report
      description: 'Required JWT roles for access: administrator.'
      operationId: GetMaintenanceReport
      responses:
        '200':
          description: Returns the report.
          content:
            application/json: {}
  /api/v2/reports:
    options:
      tags:
      - Report
      summary: Responds with the HTTP methods allowed for the endpoint
      responses:
        '200':
          description: OK
      operationId: optionsApiV2Reports
      x-operation-id-source: derived
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: JWT Authorization header using the Bearer scheme.
      name: Authorization
      in: header
